<div class="frame">
  <div class="oauth-scopes-nav">
    <ul class="nav-tabs nav-justified text-center">
      <li class="complete">
        {{#link-to "plans"}}
          <i class="fa fa-check fa-2x"></i>
          <h4 class="spacing-bottom0">Plans</h4>
        {{/link-to}}
      </li>
      <li class="active">
        <span>
          <i class="fa fa-shopping-cart fa-2x"></i>
          <h4 class="spacing-bottom0">Cart</h4>
        </span>
      </li>
      <li>
        <span>
          <i class="fa fa-credit-card fa-2x"></i>
          <h4 class="spacing-bottom0">Payment</h4>
        </span>
      </li>
    </ul>
  </div>
  <div class="pad4">
    <div class="spacing-bottom4 text-center">
      <h2>Confirm paid features</h2>
      <p>You will be charged for the following features:</p>
    </div>
    <div class="boxed-content">
      <table class="table">
        <thead>
          <tr>
            <th>Permission</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.scopes as |scope|}}
          <tr>
            <td><h4><strong>{{scope.name}}</strong></h4></td>
            <td><h4>{{scope.description}}</h4></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <div class="scope-pricing">
        <div class="row">
          <div class="scope-coupon col-sm-4 spacing-bottom4">

          </div>
          <div class="scope-total col-sm-6 col-sm-offset-2">
            <p><strong>Price</strong></p>
            <div class="scope-regularprice">
              <h3><i class="fa fa-{{model.stripePlan.currency}}"></i>{{model.stripePlan.computedAmount}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-footer">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-8">
        <button class="btn green block" {{action 'transitionTo' 'plans.payment' model.id}}>Confirm</button>
      </div>
    </div>
  </div>
</div>
